h1{
  color: white;
  font-size: 50px;
  text-align: center;
}

h2{
  color: white;
  font-size: 30px;
}

h3{
  color:white;
    font-size: 30px;
}

h4{
  color:white;
    font-size: 30px;
}

h5{
  color:white;
    font-size: 30px;
}

h6{
  color:white;
    font-size: 30px;

}

#prince {
  position: relative;
  right:10%
  top:35%
}

{
  color:white;
    font-size: 20px;
    text-align: center;
}
img{
  height: 200px;
  width:  200px;

}
p{
  color: white;
  font-family:  'Noto Serif', serif;
  font-size: 30px;
}

body{
  background-image: url("tree.jpg");

}

.pic1 {
  position: absolute;
  right: 10%;
  top: 35%;
}


#music {
  position: relative;
  left: 1%;
}

.p1 {

}
