#Get_to_know_us{
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 225px;
    font-size:50px;
    /*font-family: 'Playfair Display SC', serif;*/
    /*font-family: 'Dancing Script', cursive;*/
    font-family: 'Parisienne', cursive;
}
iframe {
  margin-left: 75;
  margin-right: 50;
  Float:left
}
#Kiera {
  float:right;
}
#Please {
  float:right;
}
#pop {
    font-size:50px;
}
#faout{
  font-family: 'Lora', serif;
}
#k{
font-family: 'Permanent Marker', cursive;
}
#kd{
  font-family: 'Permanent Marker', cursive;
  padding-left:-10%;
  padding-right:-10%;
  display:inline;
  float: left;
}
p{
  color: black;
  font-size: 20px;
}

.phone{
  padding-left:-10%;
  padding-right:-10%;
  display:inline;
  float: right;
}
#jr {
  font-family: 'Permanent Marker', cursive;
  float: right;
  font-size: 20px;
  color:black
}

 p{
  font-family: 'Oswald', sans-serif;
  font-size: 20
}
.banana{
  padding-left:-10%;
  padding-right:-10%;
  display:inline;
  float: left;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 40px 50px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    position: relative;
    left: 200px;
  }

/* On mouse-over */
.btn:hover {background: #eee;}

.success {color: #800000;}
.info {color: #2F6450;}
.warning {color: #2F3864;}
.danger {color: #642F43;}

.aboutus{
  border: none;
  background-color: inherit;
  padding: 40px 50px;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  position: relative;
  bottom: 0px;
}

footer{
  display: block;
  position: absolute;
  bottom:0px;
  text-align: center;
  margin-right: 600px;
  margin-left: 600px;
}

.row {
  display: flex;
}

.iframe {
  padding-top: 30px;
}

.flex-end {
  justify-content: flex-end;
}
