#boi{
  font-stretch: extra-expanded;
}

h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 225px;
    font-size:50px;
    /*font-family: 'Playfair Display SC', serif;*/
    /*font-family: 'Dancing Script', cursive;*/
    font-family: 'Parisienne', cursive;
}

#pop {
  font-family: 'Kirang Haerang', cursive;
}
#faout{
  font-family: 'Lora', serif;
}
